{% extends 'clients/base.html' %}
{% block content %}

<div class="main-container">
		<div class="pd-ltr-20 xs-pd-20-10">
			<div class="min-height-150px">
				<div class="page-header">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="title">
								<h4>Withdrawal Log</h4>
							</div>
							<nav aria-label="breadcrumb" role="navigation">
								<ol class="breadcrumb">
<!--									<li class="breadcrumb-item"><a href="index.html">Home</a></li>-->
									<li class="breadcrumb-item active" aria-current="page"><b style="font-size:10.0pt;"> </b></li>
								</ol>
							</nav>
						</div>
						<div class="col-md-6 col-sm-12 text-right">

						</div>
					</div>

				</div>
			</div>
		</div>
	<div class="pd-20 card-box mb-30">
					<div class="clearfix mb-20">
						<div class="pull-left">
							<h4 class="text-blue h4"> Withdrawal Details</h4>

						</div>
						<div class="pull-right">

						</div>
					</div>
					<table class="table table-bordered">
						<thead>
							<tr>
								<th scope="col">Details</th>
								<th scope="col">Date</th>
								<th scope="col">Amount</th>
								<th scope="col">Status</th>

							</tr>
						</thead>
						<tbody>
						{% for transaction in object_list %}
							<tr>
<!--								<th scope="row">1</th>-->
								<td>Withdraw</td>
								<td>{{ transaction.timestamp }}</td>
								<td><span class="fa fa-dollar"></span> {{ transaction.amount }}</td>
								<td><span class="badge badge-info">{{ transaction.status }}</span></td>
							</tr>
						{% endfor %}
<
						</tbody>
					</table>
					<div class="collapse collapse-box" id="border-table">
						<div class="code-box">
							<div class="clearfix">
								<a href="javascript:;" class="btn btn-primary btn-sm code-copy pull-left"  data-clipboard-target="#border-table-code"><i class="fa fa-clipboard"></i> Copy Code</a>
								<a href="#border-table" class="btn btn-primary btn-sm pull-right" rel="content-y"  data-toggle="collapse" role="button"><i class="fa fa-eye-slash"></i> Hide Code</a>
							</div>
							<pre><code class="xml copy-pre" id="border-table-code">
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
    </tr>
  </tbody>
</table>
							</code></pre>
						</div>
					</div>
				</div>












{% endblock content %}