
{% extends "base.html" %}
{% load static %}
{% block content %}

 <!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'pages/assets/img/banner/23.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Password Reset From</h1>
                    <ul class="breadcrumb">
                        <li><a href="/index"><i class="fas fa-home"></i> </a>Home</li>
                        <li class="active">Password Reset Form</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Login
    ============================================= -->
    {% if validlink %}
   <form method="post" id="login-form" class="white-popup-block">
                        {% csrf_token %}
                        <div class="row align-center">
                            <div class="col-lg-4 login-social">
                                <i class="fas fa-user"></i>


                            </div>
                            <div class="col-lg-8 login-custom">
                                <h4>Reset your password</h4>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <input  name="new_password1" required="" class="form-control" placeholder="New Password*" type="password">
                                        </div>
                                    </div>
                                </div>
                                 <div class="col-lg-12">
                                    <div class="row">
                                        <div class="form-group">
                                            <input  name="new_password2" required="" class="form-control" placeholder="Re-type password*" type="password">
                                        </div>
                                    </div>
                                </div>

                            <small class="text-danger ml-2">{{ form.errors }}</small><br>
                                 <div class="col-lg-12">
                                    <div class="row">
                                        <button type="submit">
                                            Submit
                                        </button>
                                    </div>
                                </div>

                            {% else %}
                              <p class="text-danger ml-2">
                        The password reset link was invalid, possibly because it has already been used.
                        Please request a new password reset.
                             </p>
                        {% endif %}
                            </div>
                        </div>

   </form>


 </div>
                            </div>
                        </div>
                    </div>
                </div>
             </div>
        </div>
{% endblock %}