{% extends "base.html" %}
{% load static %}
{% block content %}


 <!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'pages/assets/img/banner/23.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Password Reset Complete</h1>
                    <ul class="breadcrumb">
                        <li><a href="/index"><i class="fas fa-home"></i> </a>Home</li>
                        <li class="active">Password Reset Complete</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Login
    ============================================= -->
    <div class="login-area bg-gray default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                     {% for message in messages %}
					<p id="messages" style="color:green;">{{message}}</p>
					{% endfor %}
                    <form method="#" id="login-form" class="white-popup-block">

                        <div class="row align-center">
                            <div class="col-lg-4 login-social">
                                <i class="fas fa-user"></i>


                            </div>
                            <div class="col-lg-8 login-custom">
                                <h4>Password Reset Complete</h4>
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="form-group">
                                         <p>
                    Your password has been set. You may go ahead and <a href="{% url 'login' %}"><strong>LOGIN</strong></a> now.
                 </p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End Login Area -->




{% endblock content %}