{% extends "base.html" %}
{% load static %}
{% block content %}
            <!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'pages/assets/img/banner/23.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>FAQs</h1>
                    <ul class="breadcrumb">
                        <li><a href="/index"><i class="fas fa-home"></i> Company</a></li>
                        <li class="active">FAQs</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->



   <!-- Start Investors relation Area
    ============================================= -->
    <div class="services-details-area default-padding">
        <div class="container">
            <div class="services-details-items">
                <div class="row">

                    <div class="col-lg-8 services-single-content">
                        <img src="{% static 'pages/assets/img/blog/6.jpg' %}" alt="Thumb">
                     <!-- Star Faq
    ============================================= -->
    <div class="faq-content-area default-padding">
        <div class="container">
            <div class="faq-items">
                <div class="row align-center">

                    <div class="col-lg-12 offset-lg-1">
                        <div class="faq-content wow fadeInUp">
                             <div class="accordion" id="accordionExample">
                                <div class="card">
                                    <div class="card-header" id="headingOne">
                                        <h4 class="mb-0" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                               When and how much can I withdraw at a given time?
                                        </h4>
                                    </div>

                                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                You can withdraw your available balance after one week of your investment.
                                            </p>
                                            <div class="ask-question">
                                                <span>Still no luck?</span> <a href="/contact">Ask a question</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingTwo">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                             What is the strategy?
                                        </h4>
                                    </div>
                                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                                Don’t wait to invest. Getting started with a small amount of money is better than not investing at all. Over the last 50 years, the stock market (as measured by the S&P 500, a collection of the 500 largest US companies) has averaged a 10% return. With $2000 invested today, and a 10% return and Bolvex Capital is offering you 18%, so why not sign up now and get started Keep in mind, past performance of the stock market doesn’t guarantee it will continue to perform this way in the future but Bolvex Capital guarantees you that your daily profit and weekly withdrawal which is certain and safe.
                                            </p>
                                            <div class="ask-question">
                                                <span>Still no luck?</span> <a href="/contact">Ask a question</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingThree">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                         How is my information secured?
                                      </h4>
                                    </div>
                                    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                               Bolvex Capital works hard to ensure that our systems are secure and that they meet industry standards. Where appropriate, we employ firewalls, encryption technology, user access codes (e.g., userIDs and passwords), and other mechanisms to control access to systems and data. We will continue to assess new technology, and evaluate its ability to provide additional protection of your personal information. Privacy and security of your information are our highest priorities. Secure Socket Layer (SSL) technology ensures that your account can only be accessed with the password you choose, so you can use our services with confidence.
                                            </p>
                                            <div class="ask-question">
                                                <span>Still no luck?</span> <a href="/contact">Ask a question</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" id="headingFour">
                                        <h4 class="mb-0 collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                          What is the fee on Withdrawal and Deposit?
                                      </h4>
                                    </div>
                                    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                        <div class="card-body">
                                            <p>
                                               No fees on Deposit. Withdrawal have a fee of 5 USD.
                                            </p>
                                            <div class="ask-question">
                                                <span>Still no luck?</span> <a href="/contact">Ask a question</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                            </div>
                        </div>
                    </div>

                </div>

            </div><br>
             <div class="col-lg-12 services-sidebar">
                        <!-- Single Widget -->
                        <div class="single-widget services-list">
                            <h4 class="widget-title">Company</h4>
                            <div class="content">
                                <ul>
                                    <li><a href="/legal">Legal</a></li>
                                    <li ><a href="/investors_relation">Investors Relation</a></li>
                                    <li ><a href="/kyc">KYC Policy</a></li>
                                    <li><a href="/privacy">Privacy Policy</a></li>
                                    <li ><a href="/t_c">Terms and Conditions</a></li>
                                    <li class="current-item"><a href="/faq">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                        <div class="single-widget quick-contact text-light" style="background-image: url({% static 'pages/assets/img/about/1.jpg' %});">
                            <div class="content">
                                <i class="fas fa-phone"></i>
                                <h4>Need any help?</h4>
                                <p>
                                    We are here to help our customer any time. You can call on 24/7 To Answer Your Question.
                                </p>
                                <h2>{{company.company_phone}}</h2>
                            </div>
                        </div>
                        <!-- Single Widget -->
                        <div class="single-widget brochure">
                            <h4 class="widget-title">Brochure</h4>
                            <ul>

                                <li><a href="{% static 'pages/assets/doc/Bolvex_Capital.pdf' %}"><i class="fas fa-file-pdf"></i> Company Overview </a></li>
                            </ul>
                        </div>
                    </div>

                </div>
    <!-- End Faq -->


                        <!-- End Single Widget -->
                </div>


            </div>
        </div>
     </div>
     </div>
     </div>


    <!-- End Services Details Area -->

{% endblock content %}