{% extends "base.html" %}
{% load static %}
{% block content %}
              <!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'pages/assets/img/banner/23.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Legal</h1>
                    <ul class="breadcrumb">
                        <li><a href="/index"><i class="fas fa-home"></i> Company</a></li>
                        <li class="active">Legal</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->



     <!-- Start Blog
    ============================================= -->
    <div class="blog-area single full-blog full-blog default-padding">
        <div class="container">
            <div class="blog-items">
                <div class="row">
                    <div class="blog-content wow fadeInUp col-lg-10 offset-lg-1 col-md-12">
                        <div class="item">

                            <div class="blog-item-box">


                                <div class="info">
                                    <div class="meta">

                                    </div>
                                    <h2>Legal.</h2>
                                     <p> According to United Kingdom security law our firm is regulated under the Investment Company Act of 2006 and the administrative rules and propagated pursuant to the Act, as well as the Securities Act of 2006 and the Securities Exchange Act of 2006 law. Our clients investment rights is carefully observed, we help our clients to grow financially by suggesting the best possible way to invest their money so they can earn good profit.</p>
	                                <p> We help our clients by giving them correct information about market risk, our services include financial advisory Our firm have all the qualities to perform well in market and achieve all the goals for our clients.</p>
<!--	                                    <img  style='width:500px;'  src="{% static 'pages/assets/img/legal.png' %}" class="logo" alt="legal">-->
<!--                                    <img  style='width:500px;'  src="{% static 'pages/assets/img/legal2.png' %}" class="logo" alt="legal">-->
                                    <br><h5 class="image-box"><span  style="color:teal;font-size:30.0pt">21</span> years of unbeaten & trust of customers around the world</h5>

                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-6"><img  style='width:500px;'  src="{% static 'pages/assets/img/legal.png' %}" class="logo" alt="legal"></div>
                     <div class="col-lg-6"> <img  style='width:500px;'  src="{% static 'pages/assets/img/legal2.png' %}" class="logo" alt="legal"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->




{% endblock content %}