{% extends "base.html" %}
{% load static %}
{% block content %}


 <!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'pages/assets/img/banner/5.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Our Services</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li class="active">Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Expertise Area
    ============================================= -->
    <div class="expertise-area default-padding">
        <div class="container">

            <!-- Item Heading -->
            <div class="item-heading">
                <div class="row">
                    <div class="col-lg-6 info">
                        <h4>Our expertise</h4>
                        <h2>Our digital services have improve both in performance and overall effectiveness.</h2>
                    </div>
                    <div class="col-lg-6 right-info">
                        <div class="skill-items">
                            <!-- Progress Bar Start -->
                            <div class="progress-box">
                                <h5>Investment Security</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="99">
                                        <span>99%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>Customer Services</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="97">
                                        <span>97%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-box">
                                <h5>BlockChain Investment</h5>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-width="98">
                                        <span>98%</span>
                                    </div>
                                </div>
                            </div>
                            <!-- End Progressbar -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Item Heading -->

            <!-- Expertise Content -->
            <div class="expertise-content text-light" style="background-image: url({% static 'pages/assets/img/banner/6.jpg' %});">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <div class="content">
                                <h4>Finance Restructuring</h4>
                                <p>
                                     Bolvex Capital provides  good finance restructuring methods.
                                </p>
                            </div>

                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <div class="content">
                                <h4>BlockChain Solutions</h4>
                                <p>
                                    We use latest technology to optimize services.
                                </p>
                            </div>

                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-4 single-item">
                        <div class="item">
                            <div class="content">
                                <h4>International Markets</h4>
                                <p>
                                     We are globally known in the International market for our expertise.
                                </p>
                            </div>

                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
                <!-- Fixed Shape -->
                <div class="fixed-shape" style="background-image: url({% static 'pages/assets/img/shape/13.png' %});"></div>
                <!-- Fixed Shape -->
            </div>
            <!-- Expertise Content -->

        </div>
    </div>
    <!-- End Expertise Area -->

    <!-- Star Services Area
    ============================================= -->
    <div class="services-area bg-gray default-padding bottom-less">
        <!-- Shape -->
        <div class="right-shape">
            <img src="{% static 'pages/assets/img/shape/9.png' %}" alt="Shape">
        </div>
        <!-- Shape -->
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4>Our Services</h4>
                        <h2>What We Bring To You</h2>
                        <div class="devider"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="services-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <i class="flaticon-money"></i>
                                <h4>Advisory Account</h4>
                                <p>
                                    We provide advisory accounts driven by our experts in accordance with the Investor's stated investment goals.
                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <i class="flaticon-budget"></i>
                                <h4>Investment Planning</h4>
                                <p>
                                    Bolvex Capital offers quality investment plans by identifying our Investors financial goals and converting them into financial profits.ything.
                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <i class="flaticon-money-1"></i>
                                <h4>Safe Investment</h4>
                                <p>
                                     Our platform is secured and managed by our professionals. We use the latest digital security systems in monitoring our platform.
                                </p>

                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="col-lg-3 col-md-6 single-item">
                        <div class="item">
                            <div class="info">
                                <i class="flaticon-funds"></i>
                                <h4>Saving & Investments</h4>
                                <p>
                                   We offer both savings and investment oppurtunities to our clients. Bolvex Capital is well known for providing quality services.                                 </p>

                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Services Area -->

    <!-- Star Partner Area
    ============================================= -->
    <div class="partner-area bg-gray shadow-less overflow-hidden text-light">
        <div class="container">
            <div class="item-box">
                <div class="row align-center">
                    <div class="col-lg-6 info">
                        <h2>We're Trusted by <span>2500+</span> <br> Investors and Business Partners</h2>
                        <p>
                          Our business partners and investors population have grown over the years due to our stability in maintaing good busines relationship.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Partner Area -->

    <!-- Star testimonials Area
    ============================================= -->
    <div class="testimonials-area bg-gray default-padding">
        <!-- Fixed Shape -->
        <div class="fixed-shape" style="background-image: url({% static 'pages/assets/img/shape/10.png' %});"></div>
        <!-- End Fixed Shape -->
        <div class="container">
            <div class="testimonial-items">
                <div class="row align-center">
                    <div class="col-lg-7 testimonials-content">
                        <div class="testimonials-carousel owl-carousel owl-theme">
                            <!-- Single Item -->
                            <div class="item">
                                <div class="info">
                                    <p>
                                        Well i can say the platform is user-friendly and easy to invest, the most interesting fact i like is the fast confirmation on withdrawal.
                                    </p>
                                    <div class="provider">
                                        <div class="thumb">
                                            <img src="{% static 'pages/assets/img/teams/14.jpg' %}" alt="Author">
                                        </div>
                                        <div class="content">
                                            <h4>Ryan Smith</h4>
                                            <span> Client</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <div class="info">
                                    <p>
                                       Investment made easier and safer with Bolvex Capital. I like your investment strategy used, fast withdrawal from the wallet makes me feel comfortable using the platform.
                                    </p>
                                    <div class="provider">
                                        <div class="thumb">
                                            <img src="{% static 'pages/assets/img/teams/13.jpg' %}" alt="Author">
                                        </div>
                                        <div class="content">
                                            <h4>Cliford Benson</h4>
                                            <span> Client</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>
                    <div class="col-lg-5 info">
                        <h4>Testimonials</h4>
                        <h2>Check what our satisfied clients said</h2>
                        <p>
                            Bolvex Capital reviews are always helpful in guiding new customers and also helps the company  to address customer complaint
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End testimonials Area -->

{% endblock content %}