{% extends "base.html" %}
{% load static %}
{% block content %}
             <!-- Start Breadcrumb
    ============================================= -->
    <div class="breadcrumb-area text-center shadow dark text-light bg-cover" style="background-image: url({% static 'pages/assets/img/banner/23.jpg' %});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h1>Terms & Conditions</h1>
                    <ul class="breadcrumb">
                        <li><a href="index_blx.html"><i class="fas fa-home"></i> Company</a></li>
                        <li class="active">Terms & Conditions</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->



   <!-- Start Investors relation Area
    ============================================= -->
    <div class="services-details-area default-padding">
        <div class="container">
            <div class="services-details-items">
                <div class="row">

                    <div class="col-lg-8 services-single-content">
                        <img src="assets/img/blog/3.jpg" alt="Thumb">
                        <h2>Terms and Conditions</h2>
                        	<div class="container">
						        <h3>Please read the following rules carefully before signing in.</h3>
						        <p>You agree to be of legal age in your country to partake in this program, and in all the cases your minimal age must be 18 years and / or above.. Also it should not be illegal in your country to take part in such a program like Bolvex Capital</p>
						        <p>Bolvex Capital is not available to the general public and is opened only to the qualified members of Bolvex Capital, the use of this site is restricted to our members and to individuals personally invited by them. Every deposit is considered to be a private transaction between the Bolvex Capital and its Member.</p>
						        <p>As a private transaction, this program is exempt from the US Securities Act of 1933, the US Securities Exchange Act of 1934 and the US Investment Company Act of 1940 and all other rules, regulations and amendments thereof. We are  FDIC insured. We are a licensed firm .</p>
						        <p>You agree that all information, communications, materials coming from Bolvex Capital are unsolicited and must be kept private, confidential and protected from any disclosure. Moreover, the information, communications and materials contained herein are not to be regarded as an offer, nor a solicitation for investments in any jurisdiction which deems non-public offers or solicitations unlawful, nor to any person to whom it will be unlawful to make such offer or solicitation.</p>
						        <p>All the data given by a member to Bolvex Capital will be only privately used and not disclosed to any third parties. Bolvex Capital is not responsible or liable for any loss of data.</p>
						        <p>You agree to hold all principals and members harmless of any liability. You are investing at your own risk and you agree that a past performance is not an explicit guarantee for the same future performance. You agree that all information, communications and materials you will find on this site are intended to be regarded as an informational and educational matter and not an investment advice.</p>
						        <p>We reserve the right to change the rules, commissions and rates of the program at any time and at our sole discretion without notice, especially in order to respect the integrity and security of the members' interests. You agree that it is your sole responsibility to review the current terms.</p>
						        <p>Bolvex Capital is not responsible or liable for any damages, losses and costs resulting from any violation of the conditions and terms and/or use of our website by a member. You guarantee to Bolvex Capital that you will not use this site in any illegal way and you agree to respect your local, national and international laws</p>
						        <p>Don’t post bad vote on Public Forums and at Gold Rating Site without contacting the administrator of our program FIRST. Maybe there was a technical problem with your transaction, so please always CLEAR the thing with the administrator.</p>
						        <p>We will not tolerate SPAM or any type of UCE in this program. SPAM violators will be immediately and permanently removed from the program.</p>
						        <p>Bolvex Capital reserves the right to accept or decline any member for membership without explanation.</p>
						        <p>If you do not agree with the above disclaimer, please do not go any further.</p>
						      </div>
                        <div class="features">
                            <div class="row">
                                <div class="col-lg-6 col-md-6">
                                    <div class="content">

                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="content">

                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-lg-4 services-sidebar">
                        <!-- Single Widget -->
                        <div class="single-widget services-list">
                            <h4 class="widget-title">Company</h4>
                            <div class="content">
                                <ul>
                                    <li><a href="/legal">Legal</a></li>
                                    <li ><a href="/investors_relation">Investors Relation</a></li>
                                    <li ><a href="/kyc">KYC Policy</a></li>
                                    <li ><a href="/privacy">Privacy Policy</a></li>
                                    <li class="current-item" ><a href="/t_c">Terms and Conditions</a></li>
                                    <li><a href="/faq">FAQs</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- End Single Widget -->
                        <div class="single-widget quick-contact text-light" style="background-image: url({% static 'pages/assets/img/about/1.jpg' %});">
                            <div class="content">
                                <i class="fas fa-phone"></i>
                                <h4>Need any help?</h4>
                                <p>
                                    We are here to help our customer any time. You can call on 24/7 To Answer Your Question.
                                </p>
                                <h2>+ 1571 440 7928</h2>
                            </div>
                        </div>
                        <!-- Single Widget -->
                        <div class="single-widget brochure">
                            <h4 class="widget-title">Brochure</h4>
                            <ul>

                                <li><a href="{% static 'pages/assets/doc/Bolvex_Capital.pdf' %}"><i class="fas fa-file-pdf"></i> Company Overview </a></li>
                            </ul>
                        </div>
                        <!-- End Single Widget -->
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Services Details Area -->

{% endblock content %}