{% load static %}

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Bolvex Capital located in Ludgate Hill, London EC4M 7JN, United Kingdom. is a leading Company in investment and financial services. Over a decade Bolvex Capital is among the top 5 leading investment firm according to forbes.">
    <meta name="msvalidate.01" content="D055DF7356009424A41F7A0387E4CB2A" />
    <!-- ========== Page Title ========== -->
    <title>Bolvex Capital Inc</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'pages/assets/img/bol.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'pages/assets/css/bootstrap.min.css' %}" rel="stylesheet" />

    
    <link href="{% static 'pages/assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/assets/css/elegant-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/assets/css/bootsnav.css' %}" rel="stylesheet" />
    <link href="{% static 'pages/style.css' %}" rel="stylesheet">
    <link href="{% static 'pages/assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

</head>
