{% load static %}


    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{% static 'pages/assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/popper.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'pages/assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'pages/assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/wow.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/progress-bar.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/count-to.js' %}"></script>
    <script src="{% static 'pages/assets/js/YTPlayer.min.js' %}"></script>
    <script src="{% static 'pages/assets/js/bootsnav.js' %}"></script>
    <script src="{% static 'pages/assets/js/main.js' %}"></script>