 {% load static %}


     <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'boss/js/jquery.min.js' %}"></script>
      <script src="{% static 'boss/js/popper.min.js' %}"></script>
      <script src="{% static 'boss/js/bootstrap.min.js' %}"></script>
      <!-- Appear JavaScript -->
      <script src="{% static 'boss/js/jquery.appear.js' %}"></script>
      <!-- Countdown JavaScript -->
      <script src="{% static 'boss/js/countdown.min.js' %}"></script>
      <!-- Counterup JavaScript -->
      <script src="{% static 'boss/js/waypoints.min.js' %}"></script>
      <script src="{% static 'boss/js/jquery.counterup.min.js' %}"></script>
      <!-- Wow JavaScript -->
      <script src="{% static 'boss/js/wow.min.js' %}"></script>
      <!-- Apexcharts JavaScript -->
      <script src="{% static 'boss/js/apexcharts.js' %}"></script>
      <!-- Slick JavaScript -->
      <script src="{% static 'boss/js/slick.min.js' %}"></script>
      <!-- Select2 JavaScript -->
      <script src="{% static 'boss/js/select2.min.js' %}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{% static 'boss/js/owl.carousel.min.js' %}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{% static 'boss/js/jquery.magnific-popup.min.js' %}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{% static 'boss/js/smooth-scrollbar.js' %}"></script>
      <!-- lottie JavaScript -->
      <script src="{% static 'boss/js/lottie.js' %}"></script>
      <!-- am core JavaScript -->
      <script src="{% static 'boss/js/core.js' %}"></script>
      <!-- am charts JavaScript -->
      <script src="{% static 'boss/js/charts.js' %}"></script>
      <!-- am animated JavaScript -->
      <script src="{% static 'boss/js/animated.js' %}"></script>
      <!-- am kelly JavaScript -->
      <script src="{% static 'boss/js/kelly.js' %}"></script>
      <!-- am maps JavaScript -->
      <script src="{% static 'boss/js/maps.js' %}"></script>
      <!-- am worldLow JavaScript -->
      <script src="{% static 'boss/js/worldLow.js' %}"></script>
      <!-- Style Customizer -->
      <script src="{% static 'boss/js/style-customizer.js' %}"></script>
      <!-- Chart Custom JavaScript -->
      <script src="{% static 'boss/js/chart-custom.js' %}"></script>
      <!-- Custom JavaScript -->
      <script src="{% static 'boss/js/custom.js' %}"></script>