 {% load static %}
 

     <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="{% static 'boss/js/jquery.min.js' %}"></script>
      <script src="{% static 'boss/js/bootstrap.min.js' %}"></script>
      <!-- Appear JavaScript -->
      <script src="{% static 'boss/js/jquery.appear.js' %}"></script>
      <script src="{% static 'boss/js/jquery.counterup.min.js' %}"></script>
      <!-- Wow JavaScript -->

      <!-- Select2 JavaScript -->
      <script src="{% static 'boss/js/select2.min.js' %}"></script>
      <!-- Owl Carousel JavaScript -->
      <script src="{% static 'boss/js/owl.carousel.min.js' %}"></script>
      <!-- Magnific Popup JavaScript -->
      <script src="{% static 'boss/js/jquery.magnific-popup.min.js' %}"></script>
      <!-- Smooth Scrollbar JavaScript -->
      <script src="{% static 'boss/js/smooth-scrollbar.js' %}"></script>

      <!-- am core JavaScript -->
      <script src="{% static 'boss/js/core.js' %}"></script>
      <!-- am charts JavaScript -->
      <script src="{% static 'boss/js/charts.js' %}"></script>
      <!-- am animated JavaScript -->
      <script src="{% static 'boss/js/animated.js' %}"></script>
      <!-- Style Customizer -->
      <script src="{% static 'boss/js/style-customizer.js' %}"></script>

      <!-- Custom JavaScript -->
      <script src="{% static 'boss/js/custom.js' %}"></script>

      <!-- htmx  -->
  <script src="{% static 'boss/js/htmx.min.js' %}"></script>
