{% load static %}
<head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <title>BOLVEX CAPITAL ADMIN</title>
      <!-- Favicon -->
      <link rel="shortcut icon" href="{% static 'pages/img/logo/bol.png' %}" />
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" href="{% static 'boss/css/bootstrap.min.css' %}">

      <!-- Typography CSS -->
      <link rel="stylesheet" href="{% static 'boss/css/typography.css' %}">
      <!-- Style CSS -->
      <link rel="stylesheet" href="{% static 'boss/css/style.css' %}">
      <!-- Responsive CSS -->
      <link rel="stylesheet" href="{% static 'boss/css/responsive.css' %}">
   </head>